<div class="container">
    <div class="row">
        <div class="col-3">
            <p>ジャンル検索</p>
            <% @genres.each do |genre| %>
                <%= genre.name %>
            <% end %>
        </div>    
        <div class="col-9">
            <h1>商品一覧</h1>
            <% @items.each do |item| %>
                <%= link_to public_item_path(item) do %>
                    <%= image_tag item.get_image(100, 100) %>
                    <%= item.name %>
                <% end %>
                $<%= item.price %>
            <% end %>
        </div>
    </div>    
</div>